.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .header-div{
    position: absolute;
    border: solid;
    padding: 10px;
    width: 471px;
    top: 26%;
    left: 36%;
    border-color: gray;
  }
  .button-click{
    position: absolute;
    /* left: 0px; */
    right: 0px;
    top: 2px;
  }
  .room{
    margin-left: 14px;
  }
  .div-height{
    color: darkblue;
    position: relative;
    top: 15px;
    height: 50px;
  }
  .div-height .add-button{
      color: '#e10505f0';
   }
   .fa-disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
